<a href="https://colab.research.google.com/github/kakshayasailu/kidney-disease/blob/main/kidney_disease_training_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd

In [118]:
dt=pd.read_csv('/content/kidney_disease.csv')
dt.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [119]:
dt.dropna(inplace=True)

In [120]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB

In [121]:
dt['rbc'].unique()

array(['normal', 'abnormal'], dtype=object)

In [122]:
for i in dt.columns:
  if dt[i].dtype=='object':
    dt[i]=dt[i].astype('category').cat.codes
  dt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    object
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    object
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(1), object(13)
memory usage: 32.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    object
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(2), object(12)
memory usage: 31.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    object
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(3), object(11)
memory usage: 30.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    int8
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(4), object(10)
memory usage: 29.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    int8
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(4), object(10)
memory usage: 29.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    int8
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(4), object(10)
memory usage: 29.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    int8
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(4), object(10)
memory usage: 29.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int8
 7   pc              158 non-null    int8
 8   pcc             158 non-null    int8
 9   ba              158 non-null    int8
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    object
 17  wc              158 non-null    object
 18  rc              158 non-null    object
 19  htn             158 non-null    object
 20  dm              158 non-null    object
 21  cad             158 non-null    object
 22  appet           158 non-null    object
 23  pe              158 non-null    object
 24  ane             158 non-null    object
 25  classification  158 non-null    object
dtypes: float64(11), int64(1), int8(4), object(10)
memory usage: 29.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64

In [123]:
import keras

In [124]:
from keras.models import Sequential
model=Sequential()

In [125]:
from keras.layers import Dense

In [126]:
dt.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,11,42,14,1,0,0,1,1,1,0
9,9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,...,8,11,12,1,1,0,1,0,1,0
11,11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,...,11,25,13,1,1,0,1,1,0,0
14,14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,...,0,8,2,1,1,1,1,1,0,0
20,20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,...,4,63,7,1,1,1,1,1,1,0

In [127]:
dt.corr()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,1.000000,-0.236508,-0.282317,0.676958,-0.745822,-0.331072,0.492647,0.690055,-0.442907,-0.333936,...,0.724971,0.211512,0.644192,-0.743804,-0.615966,-0.407703,-0.543363,-0.528339,-0.451881,0.838812
age,-0.236508,1.000000,0.079712,-0.277303,0.253380,0.207711,-0.147971,-0.188907,0.124032,0.068353,...,-0.224766,-0.130596,-0.255283,0.372348,0.323957,0.269868,0.170259,0.232327,0.105809,-0.305119
bp,-0.282317,0.079712,1.000000,-0.198897,0.322507,0.243828,-0.316670,-0.179834,0.206507,0.174555,...,-0.313242,0.005469,-0.247835,0.334951,0.218096,0.257709,0.145047,0.117878,0.311097,-0.326567
sg,0.676958,-0.277303,-0.198897,1.000000,-0.712331,-0.448477,0.500494,0.630323,-0.460050,-0.516392,...,0.634009,0.289477,0.629149,-0.648168,-0.639391,-0.379305,-0.523944,-0.633622,-0.413252,0.790102
al,-0.745822,0.253380,0.322507,-0.712331,1.000000,0.521448,-0.489941,-0.752956,0.503341,0.516104,...,-0.717364,-0.241334,-0.660120,0.796876,0.678582,0.374755,0.578080,0.622268,0.569529,-0.925816
su,-0.331072,0.207711,0.243828,-0.448477,0.521448,1.000000,-0.256568,-0.335901,0.177327,0.381929,...,-0.378747,-0.062776,-0.381487,0.577286,0.591010,0.466658,0.220547,0.374128,0.179811,-0.510615
rbc,0.492647,-0.147971,-0.316670,0.500494,-0.489941,-0.256568,1.000000,0.498959,-0.168592,-0.273177,...,0.447349,0.195704,0.383699,-0.442400,-0.511777,-0.293269,-0.418639,-0.282868,-0.209797,0.586391
pc,0.690055,-0.188907,-0.179834,0.630323,-0.752956,-0.335901,0.498959,1.000000,-0.600092,-0.481227,...,0.665846,0.171335,0.664481,-0.666767,-0.636288,-0.384223,-0.528435,-0.606234,-0.545380,0.775388
pcc,-0.442907,0.124032,0.206507,-0.460050,0.503341,0.177327,-0.168592,-0.600092,1.000000,0.415033,...,-0.436269,-0.213087,-0.496111,0.432876,0.321900,0.352255,0.432515,0.350171,0.485941,-0.509915
ba,-0.333936,0.068353,0.174555,-0.516392,0.516104,0.381929,-0.273177,-0.481227,0.415033,1.000000,...,-0.411644,-0.160107,-0.346479,0.314961,0.367477,0.297063,0.187815,0.393819,0.141344,-0.468845
bgr,-0.449157,0.301915,0.190113,-0.544781,0.518123,0.730050,-0.493857,-0.430646,0.257768,0.318095,...,-0.433909,-0.172519,-0.425190,0.579407,0.663012,0.459164,0.338924,0.336141,0.139854,-0.591217
bu,-0.521873,0.190636,0.316287,-0.545319,0.661940,0.312259,-0.378478,-0.613318,0.366726,0.205351,...,-0.540654,-0.140592,-0.626390,0.623738,0.565137,0.312485,0.502091,0.581566,0.654444,-0.677611
sc,-0.523525,0.189721,0.386551,-0.563122,0.702889,0.347196,-0.410408,-0.588517,0.361965,0.229238,...,-0.622432,-0.123261,-0.639716,0.659078,0.567390,0.321205,0.510699,0.623109,0.663212,-0.702206
sod,0.553574,-0.102933,-0.224710,0.539285,-0.599334,-0.242491,0.344916,0.520324,-0.473954,-0.221374,...,0.516201,0.239322,0.466489,-0.529828,-0.472327,-0.217612,-0.485093,-0.466484,-0.563627,0.640902
pot,-0.136201,0.006866,0.127801,-0.075057,0.209492,0.271954,0.019319,-0.176150,-0.030297,-0.000279,...,-0.198963,-0.061680,-0.197755,0.183336,0.188797,0.007149,0.000014,0.008052,0.248296,-0.153565
hemo,0.693769,-0.245645,-0.282365,0.682086,-0.784745,-0.385511,0.452566,0.733140,-0.531182,-0.410353,...,0.751781,0.237883,0.748750,-0.746016,-0.658510,-0.378777,-0.618762,-0.596579,-0.640379,0.833790
pcv,0.724971,-0.224766,-0.313242,0.634009,-0.717364,-0.378747,0.447349,0.665846,-0.436269,-0.411644,...,1.000000,0.206737,0.679262,-0.706630,-0.598292,-0.383839,-0.551036,-0.530981,-0.571588,0.794620
wc,0.211512,-0.130596,0.005469,0.289477,-0.241334,-0.062776,0.195704,0.171335,-0.213087,-0.160107,...,0.206737,1.000000,0.211146,-0.126516,-0.154145,0.022789,-0.172687,-0.109350,-0.132155,0.284359
rc,0.644192,-0.255283,-0.247835,0.629149,-0.660120,-0.381487,0.383699,0.664481,-0.496111,-0.346479,...,0.679262,0.211146,1.000000,-0.690820,-0.596037,-0.362906,-0.550519,-0.559001,-0.576997,0.736367
htn,-0.743804,0.372348,0.334951,-0.648168,0.796876,0.577286,-0.442400,-0.666767,0.432876,0.314961,...,-0.706630,-0.126516,-0.690820,1.000000,0.765298,0.522407,0.564008,0.588066,0.538941,-0.856334
dm,-0.615966,0.323957,0.218096,-0.639391,0.678582,0.591010,-0.511777,-0.636288,0.321900,0.367477,...,-0.598292,-0.154145,-0.596037,0.765298,1.000000,0.459176,0.490885,0.670746,0.283750,-0.758965
cad,-0.407703,0.269868,0.257709,-0.379305,0.374755,0.466658,-0.293269,-0.384223,0.352255,0.297063,...,-0.383839,0.022789,-0.362906,0.522407,0.459176,1.000000,0.128235,0.195024,0.237906,-0.447355
appet,-0.543363,0.170259,0.145047,-0.523944,0.578080,0.220547,-0.418639,-0.528435,0.432515,0.187815,...,-0.551036,-0.172687,-0.550519,0.564008,0.490885,0.128235,1.000000,0.620036,0.520910,-0.604622
pe,-0.528339,0.232327,0.117878,-0.633622,0.622268,0.374128,-0.282868,-0.606234,0.350171,0.393819,...,-0.530981,-0.109350,-0.559001,0.588066,0.670746,0.195024,0.620036,1.000000,0.376976,-0.622573
ane,-0.451881,0.105809,0.311097,-0.413252,0.569529,0.179811,-0.209797,-0.545380,0.485941,0.141344,...,-0.571588,-0.132155,-0.576997,0.538941,0.283750,0.237906,0.520910,0.376976,1.000000,-0.548947
classification,0.838812,-0.305119,-0.326567,0.790102,-0.925816,-0.510615,0.586391,0.775388,-0.509915,-0.468845,...,0.794620,0.284359,0.736367,-0.856334,-0.758965,-0.447355,-0.604622,-0.622573,-0.548947,1.000000

In [128]:
dt=dt.drop(['su','ba','wc','rc','cad'],axis=1)

In [129]:
dt.head()

,id,age,bp,sg,al,rbc,pc,pcc,bgr,bu,...,sod,pot,hemo,pcv,htn,dm,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,1,0,1,117.0,56.0,...,111.0,2.5,11.2,11,1,0,1,1,1,0
9,9,53.0,90.0,1.020,2.0,0,0,1,70.0,107.0,...,114.0,3.7,9.5,8,1,1,1,0,1,0
11,11,63.0,70.0,1.010,3.0,0,0,1,380.0,60.0,...,131.0,4.2,10.8,11,1,1,1,1,0,0
14,14,68.0,80.0,1.010,3.0,1,0,1,157.0,90.0,...,130.0,6.4,5.6,0,1,1,1,1,0,0
20,20,61.0,80.0,1.015,2.0,0,0,0,173.0,148.0,...,135.0,5.2,7.7,4,1,1,1,1,1,0

In [130]:
x=dt.iloc[:,0:-1]
y=dt['classification']

In [131]:
x

,id,age,bp,sg,al,rbc,pc,pcc,bgr,bu,sc,sod,pot,hemo,pcv,htn,dm,appet,pe,ane
3,3,48.0,70.0,1.005,4.0,1,0,1,117.0,56.0,3.8,111.0,2.5,11.2,11,1,0,1,1,1
9,9,53.0,90.0,1.020,2.0,0,0,1,70.0,107.0,7.2,114.0,3.7,9.5,8,1,1,1,0,1
11,11,63.0,70.0,1.010,3.0,0,0,1,380.0,60.0,2.7,131.0,4.2,10.8,11,1,1,1,1,0
14,14,68.0,80.0,1.010,3.0,1,0,1,157.0,90.0,4.1,130.0,6.4,5.6,0,1,1,1,1,0
20,20,61.0,80.0,1.015,2.0,0,0,0,173.0,148.0,3.9,135.0,5.2,7.7,4,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,1,1,0,140.0,49.0,0.5,150.0,4.9,15.7,25,0,0,0,0,0
396,396,42.0,70.0,1.025,0.0,1,1,0,75.0,31.0,1.2,141.0,3.5,16.5,32,0,0,0,0,0
397,397,12.0,80.0,1.020,0.0,1,1,0,100.0,26.0,0.6,137.0,4.4,15.8,27,0,0,0,0,0
398,398,17.0,60.0,1.025,0.0,1,1,0,114.0,50.0,1.0,135.0,4.9,14.2,29,0,0,0,0,0
399,399,58.0,80.0,1.025,0.0,1,1,0,131.0,18.0,1.1,141.0,3.5,15.8,31,0,0,0,0,0

In [132]:
y

3      0
9      0
11     0
14     0
20     0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 158, dtype: int8

In [133]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [134]:
print(x.shape,y.shape,x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(158, 20) (158,) (118, 20) (40, 20) (118,) (40,)

In [135]:
model.add(Dense(units=20,activation='relu'))
model.add(Dense(units=5,activation='relu'))
model.add(Dense(units=5,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [136]:
model.build(input_shape=(None,20))

In [137]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_16 (Dense)                │ (None, 20)             │           420 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 5)              │           105 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 5)              │            30 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 561 (2.19 KB)

 Trainable params: 561 (2.19 KB)

 Non-trainable params: 0 (0.00 B)

In [138]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [139]:
model.fit(x_train,y_train,epochs=100,batch_size=8,steps_per_epoch=x_train.shape[0]//8)

Epoch 1/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7342 - loss: 0.7566
Epoch 2/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6667 - loss: 0.6942
Epoch 3/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6785 - loss: 0.5844
Epoch 4/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8333 - loss: 0.4000
Epoch 5/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8052 - loss: 0.4049
Epoch 6/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6667 - loss: 0.4140
Epoch 7/100
 1/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8750 - loss: 0.1944

/usr/local/lib/python3.11/dist-packages/keras/src/trainers/epoch_iterator.py:107: UserWarning: Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches. You may need to use the `.repeat()` function when building your dataset.
  self._interrupted_warning()

14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8523 - loss: 0.2786
Epoch 8/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.3333 - loss: 0.7460
Epoch 9/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8392 - loss: 0.3068
Epoch 10/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.1445
Epoch 11/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9342 - loss: 0.1978
Epoch 12/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.1942
Epoch 13/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9291 - loss: 0.1978
Epoch 14/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.1448
Epoch 15/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9571 - loss: 0.1006
Epoch 16/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0164
Epoch 17/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9939 - loss: 0.0376
Epoch 18/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0121
Epoch 19/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0221
Epoch 20/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0136
Epoch 21/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0163
Epoch 22/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0011
Epoch 23/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0131
Epoch 24/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0031
Epoch 25/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0136
Epoch 26/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0015
Epoch 27/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0088
Epoch 28/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0022
Epoch 29/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0072
Epoch 30/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0018
Epoch 31/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 1.0000 - loss: 0.0066
Epoch 32/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0044
Epoch 33/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0065
Epoch 34/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0018
Epoch 35/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0036
Epoch 36/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0039
Epoch 37/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0035
Epoch 38/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0084
Epoch 39/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0049
Epoch 40/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0052
Epoch 41/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0019
Epoch 42/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0055
Epoch 43/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0035
Epoch 44/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 3.0356e-04
Epoch 45/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0027
Epoch 46/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 6.4300e-04
Epoch 47/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0014
Epoch 48/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0064
Epoch 49/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0016
Epoch 50/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 3.1294e-04
Epoch 51/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0021
Epoch 52/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 4.3476e-04
Epoch 53/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0025
Epoch 54/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.0355e-04
Epoch 55/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 1.0000 - loss: 0.0017
Epoch 56/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.9041e-04
Epoch 57/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0019
Epoch 58/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 6.0799e-04
Epoch 59/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0017
Epoch 60/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 3.4425e-04
Epoch 61/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0019
Epoch 62/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 4.5410e-04
Epoch 63/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0015
Epoch 64/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 7.4982e-04
Epoch 65/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0011
Epoch 66/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 7.5332e-04
Epoch 67/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0014
Epoch 68/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 1.6890e-04
Epoch 69/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0011
Epoch 70/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0035
Epoch 71/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0012
Epoch 72/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 4.4943e-04
Epoch 73/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 9.2341e-04
Epoch 74/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 2.6320e-04
Epoch 75/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 0.0011
Epoch 76/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 1.8446e-04
Epoch 77/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 7.7415e-04
Epoch 78/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 5.8280e-04
Epoch 79/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 5.8289e-04
Epoch 80/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0014
Epoch 81/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 9.4055e-04
Epoch 82/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0026
Epoch 83/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 5.5380e-04
Epoch 84/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 1.1413e-04
Epoch 85/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 4.9344e-04
Epoch 86/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0055
Epoch 87/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 7.1229e-04
Epoch 88/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 5.8810e-04
Epoch 89/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.2478e-04
Epoch 90/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 1.9082e-04
Epoch 91/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 6.0160e-04
Epoch 92/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 3.7902e-05
Epoch 93/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.9888e-04
Epoch 94/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 5.3446e-04
Epoch 95/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 7.2280e-04
Epoch 96/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 7.9308e-05
Epoch 97/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.7021e-04
Epoch 98/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 2.8072e-05
Epoch 99/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 1.0000 - loss: 5.1491e-04
Epoch 100/100
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 1.0000 - loss: 0.0014

In [140]:
y_pred = model.predict(x_test)

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 65ms/step

In [141]:
y_pred = (y_pred > 0.5).astype(int)

In [142]:
from sklearn.metrics import accuracy_score  #Evaluation
accuracy_score(y_test,y_pred)

1.0

In [146]:
model.save('kidney.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [144]:
x_train

,id,age,bp,sg,al,rbc,pc,pcc,bgr,bu,sc,sod,pot,hemo,pcv,htn,dm,appet,pe,ane
265,265,50.0,80.0,1.020,0.0,1,1,0,97.0,40.0,0.6,150.0,4.5,14.2,26,0,0,0,0,0
333,333,23.0,80.0,1.020,0.0,1,1,0,99.0,46.0,1.2,142.0,4.0,17.7,24,0,0,0,0,0
270,270,23.0,80.0,1.025,0.0,1,1,0,111.0,34.0,1.1,145.0,4.0,14.3,19,0,0,0,0,0
385,385,63.0,70.0,1.020,0.0,1,1,0,113.0,25.0,0.6,146.0,4.9,16.5,30,0,0,0,0,0
251,251,23.0,80.0,1.025,0.0,1,1,0,70.0,36.0,1.0,150.0,4.6,17.0,30,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,292,30.0,80.0,1.020,0.0,1,1,0,89.0,42.0,0.5,139.0,5.0,16.7,30,0,0,0,0,0
377,377,64.0,70.0,1.020,0.0,1,1,0,97.0,27.0,0.7,145.0,4.8,13.8,27,0,0,0,0,0
340,340,32.0,70.0,1.025,0.0,1,1,0,100.0,29.0,1.1,142.0,4.5,14.3,21,0,0,0,0,0
277,277,46.0,60.0,1.025,0.0,1,1,0,123.0,46.0,1.0,135.0,5.0,15.7,28,0,0,0,0,0
386,386,46.0,70.0,1.025,0.0,1,1,0,100.0,47.0,0.5,142.0,3.5,16.4,21,0,0,0,0,0

In [145]:
x_train.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'rbc', 'pc', 'pcc', 'bgr', 'bu', 'sc',
       'sod', 'pot', 'hemo', 'pcv', 'htn', 'dm', 'appet', 'pe', 'ane'],
      dtype='object')